<div class="row">
  <div class="col-md-12">
    <br>
    <h2>Students</h2>
    <hr />

    {{#unless students}}
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    {{else}}
      <table class="table">
        <thead>
          <tr>
            <th>Student Number</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
            <tr>
              <td>{{this.studentNum}}<span><a style="text-align: center; position: relative; left: 90px;" class="btn btn-primary" href="/students/update/{{this.studentNum}}">Update</a>  <a style="text-align: center; position: relative; left: 213px; bottom: 35px;" class="btn btn-primary" href="/students/view/{{this.studentNum}}">View</a>
                </span></td>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/unless}}
  </div>
</div>
