<div class="row">
  <main class="col-md-12">
    <br>
    <h2>Student Details</h2>
    <hr />

    {{#if message}}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
    {{/if}}

    <h4>Student Details:</h4>
    <ul>
      <li>Student Number: {{student.studentNum}}</li>
      <li>First Name: {{student.firstName}}</li>
      <li>Last Name: {{student.lastName}}</li>
      <li>Email: {{student.email}}</li>
      <li>Address (Street): {{student.addressStreet}}</li>
      <li>Address (City): {{student.addressCity}}</li>
      <li>Address (Province): {{student.addressProvince}}</li>
      <li>TA: {{student.TA}}</li>
      <li>Status: {{student.status}}</li>
      <li>Course: {{student.course}}</li>
    </ul>

    <a class="btn btn-primary" href="/students/">Back</a> 


  </main>
</div>
